<!DOCTYPE html>
<html>
<head>
  <title>Memoify</title>
</head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


<body>
  <div class="jumbotron" style="background: url(static/bg_2.jpg); background-size: 1200px; height: 500px;">
        <div class="container align-text-top">
          <div class="text-center">
          <h1 class="display-3" style="font-size: 100px; font-family: proxima_nova,'Helvetica Neue',Helvetica,Arial,sans-serif; color:#e2edff;">Memoify</h1>
          <p style="font-size:25px; font-family: proxima_nova,'Helvetica Neue',Helvetica,Arial,sans-serif; color:#e2edff;">What better way to send a message than by creating a playlist?</p>
          <form method="POST">
          <input class="form-control" placeholder="Message" name="message" id="message" required></br>
          
          <p><input class="btn btn-primary btn-lg" type="submit" value="Get Started" name="action">
        </p>
          </div>
        </div>
</div>
</body>
</html>